[Unit]
Description=Servicio de notificación de lluvia
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/lluvia-monserrat
Restart=always
RestartSec=300   # Esperar 5 minutos (300 segundos) antes de reiniciar el servicio

[Install]
WantedBy=multi-user.target
