/* Estilo general */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #373B44, #4286f4);
    background-image: url("../img/pock.jpg"); 
    background-size: cover;
    background-position: center;   

}

/* Contenedor principal */
.contenedor {
    text-align: center;
    width: 90%; /* Aseguramos que el contenedor ocupe el 80% del ancho */
    height: 80%; /* Aseguramos que el contenedor ocupe el 80% del alto */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Estilo para el tablero de cartas */
.tablero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* El tablero ocupa todo el ancho disponible dentro de su contenedor */
    height: 100%; /* El tablero ocupa todo el alto disponible dentro de su contenedor */

    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

/* Estilo para las filas */
.fila {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center; /* Centrar verticalmente el contenido */
}

.fila-superior {
    margin-bottom: 20px;
}

.fila-media {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centra los elementos en la fila */
    align-items: center;
    gap: 10px; /* Ajustamos la distancia entre los elementos */
}

.vs {

    padding: 40px 40px; /* Aumentamos el padding para mayor impacto */
    border-radius: 20px; /* Bordes redondeados más grandes */
    margin: 25px; /* Centrado con márgenes */
    background-color: transparent;
    font-family: "Pokemon", Arial, sans-serif;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.3); /* Sombras más fuertes y con un toque de brillo */
    background-image: url("https://comicvine.gamespot.com/a/uploads/original/11140/111409382/7758673-0112870914-daqrp.png");
    background-repeat: no-repeat;
    background-size: contain; /* Ajustar el tamaño de la imagen para que se vea correctamente */
    background-position: center; /* Centrar la imagen */
}

.fila-inferior {
    margin-top: 20px; /* Ajustamos el margen */
}

/* Estilo para las cartas */
.carta {
    width: 120px;
    height: 180px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Apilar imagen y texto */
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 5px;
}

/* Estilo para las imágenes dentro de las cartas */
.carta img {
    width: 80px;  /* Ajustar tamaño para que no ocupe todo el espacio */
    height: 80px;
    object-fit: contain; /* Mantener la proporción */
    margin-bottom: 5px; /* Separar la imagen del nombre */
}

/* Estilo para los botones de elección en las filas */
.boton-eleccion {
    background-color: #44a2c7;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Separar el botón de las cartas */
}

.boton-eleccion:hover {
    background-color: #3770da;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
}

.pokemon-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pokemon-item {
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.pokemon-item img {
    width: 80px;
    height: 80px;
}

.seleccionado {
    border: 2px solid blue;
    border-radius: 10px;
}

.boton-cerrar {
    margin-top: 15px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton-cerrar:disabled {
    background: grey;
    cursor: not-allowed;
}

.carta.escondido {
    background-image: url('../img/dorso.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: transparent; /* Esto hará que el texto no sea visible */
    display: flex; /* Asegúrate de que los elementos estén alineados */
    justify-content: center;
    position: relative; /* Asegura que el contenido se posicione correctamente */
    img, span {
        display: none;
    }
}

.ganador {
    border: 3px solid gold;
    box-shadow: 0 0 10px gold;
    animation: ganadorAnimacion 1s infinite alternate;
}

@keyframes ganadorAnimacion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.boton-musica {
    border: none;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    margin: 50px;
}

.boton-musica:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.boton-musica img {
    width: 30px;
    height: 30px;
}