/* Estilo general */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffcc00, #ff6600); /* Fondo con colores de Pokémon */
    background-image: url("../img/pock.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Pokemon Solid', sans-serif; /* Fuente de Pokémon */
    color: #ffcc00; /* Color de texto amarillo */
    text-shadow: 2px 2px 4px #000; /* Sombra de texto para mejor legibilidad */
}

/* Contenedor principal */
.contenedor {
    text-align: center;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border: 5px solid #ff6600; /* Borde naranja */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 102, 0, 0.7); /* Sombra naranja */
}

/* Estilo para el tablero de cartas */
.tablero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 10px;
}

/* Estilo para las filas */
.fila {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.fila-superior {
    margin-bottom: 20px;
}

.fila-media {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vs {
    padding: 40px 40px;
    border-radius: 20px;
    margin: 25px;
    background-color: transparent;
    font-family: "Pokemon Solid", Arial, sans-serif;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.3);
    background-image: url("https://comicvine.gamespot.com/a/uploads/original/11140/111409382/7758673-0112870914-daqrp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fila-inferior {
    margin-top: 20px;
}

/* Estilo para las cartas */
.carta {
    width: 120px;
    height: 180px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 5px;
    transition: transform 0.2s ease;
}

.carta:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

/* Estilo para las imágenes dentro de las cartas */
.carta img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 5px;
}

/* Estilo para los botones de elección en las filas */
.boton-eleccion {
    background-color: #ff6600; /* Color naranja */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.boton-eleccion:hover {
    background-color: #cc5200; /* Color naranja más oscuro al pasar el mouse */
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
}

.pokemon-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pokemon-item {
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.pokemon-item img {
    width: 80px;
    height: 80px;
}

.seleccionado {
    border: 2px solid #ffcc00; /* Borde amarillo */
    border-radius: 10px;
}

.boton-cerrar {
    margin-top: 15px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton-cerrar:disabled {
    background: grey;
    cursor: not-allowed;
}

.carta.escondido {
    background-image: url('../img/dorso.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
}

.carta.escondido img,
.carta.escondido span {
    display: none;
}

.ganador {
    border: 3px solid gold;
    box-shadow: 0 0 10px gold;
    animation: ganadorAnimacion 1s infinite alternate;
}

@keyframes ganadorAnimacion {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.boton-musica {
    border: none;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    margin: 50px;
}

.boton-musica:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.boton-musica img {
    width: 30px;
    height: 30px;
}

.poderes {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 30px;
    font-family: "Pokemon Solid", Arial, sans-serif;
    color: #333;
}

.poderes .poder {
    width: 120px;
    height: 120px;
    background-color: #ff6600; /* Color naranja */
    border: 2px solid #cc5200; /* Borde naranja más oscuro */
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.poderes .poder:hover {
    background-color: #cc5200; /* Color naranja más oscuro al pasar el mouse */
    transform: scale(1.05);
}

.poderes .poder:active {
    transform: scale(0.95);
}

.poderes button {
    background: linear-gradient(45deg, #ffcc00, #ff6600); /* Degradado amarillo a naranja */
    border: none;
    color: white;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.poderes button:hover {
    background: linear-gradient(45deg, #cc5200, #ff6600); /* Degradado más oscuro al pasar el mouse */
}

.carta.lost {
    filter: grayscale(100%);
    pointer-events: none;
    position: relative;
}

.carta.lost::after {
    content: "X";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    color: red;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}