body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* Color de fondo más suave */
    color: #2c3e50; /* Texto más oscuro para contraste */
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: auto;
    background: #ffffff; /* Manteniendo el blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

h1 {
    color: #2980b9; /* Azul vibrante */
    margin-bottom: 15px;
}

.controls {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

select, button {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #bdc3c7; /* Color de borde más suave */
    margin-top: 5px;
    margin-right: 5px;
}

button {
    background-color: #3498db; /* Azul claro */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    padding: 10px 15px;
}

button:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05);
}

.color-selection {
    display: none; /* Ocultar inicialmente */
}

#zonaPelotas {
    position: relative;
    width: 100%;
    height: 400px; /* Altura reducida */
    border: 2px dashed #95a5a6; /* Color de borde más bonito */
    background-color: #ecf0f1; /* Fondo más claro */
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.pelota {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más suave */
    cursor: pointer;
}

.pelota:hover {
    transform: scale(1.1);
}

.rojo {
    background-color: #e74c3c; /* Rojo brillante */
}

.verde {
    background-color: #2ecc71; /* Verde vibrante */
}

.azul {
    background-color: #3498db; /* Azul más claro */
}

#error {
    color: #e74c3c; /* Rojo para el error */
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#resultado {
    margin-top: 10px;
    font-size: 16px;
}

.ocultar {
    display: none;
}