body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.contenedor {
    display: flex;
    flex-direction:row; /* Cambiar a columna: cuadrícula arriba, teclado abajo */

    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cuadrícula {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(5, 60px);
    gap: 10px;
    margin-bottom: 20px;
}

.fila {
    display: contents;
}

.celda {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.3s;
}

.celda:hover {
    background-color: #e0e0e0;
}

.celda.correcta {
    background-color: #6aaa64;
    color: white;
}

.celda.presente {
    background-color: #c9b458;
    color: white;
}

.celda.absente {
    background-color: #787c7e;
    color: white;
}

.teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila-teclado {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.tecla {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.tecla:hover {
    background-color: #e0e0e0;
}

.tecla.especial {
    width: 80px; 
}

.verde {
    background-color: green;
    color: white;
}

.amarillo {
    background-color: yellow;
    color: black;
}

.gris {
    background-color: gray;
    color: white;
}


/* animacion para saber donde estas*/
.blink {
    animation: blink-animation 1.3s infinite alternate;
}

@keyframes blink-animation {
    from {
        background-color: #fff;
    }
    to {
        background-color: #e0e0e0;
    }
}

/* Cambiar la disposición en pantallas pequeñas */
@media (max-width: 910px) {
    .contenedor {
        flex-direction: column;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}